@model ArtGallery.Models.Contact
@{
    ViewBag.Title = "Contact";
}
<style>
    input[type="text"], textarea{
        margin:0px;
    }

</style>
<div>
    <main class="wrapper main-content" role="main">

        <div class="grid">
            <div class="grid__item">
                <div class="section-header">
                    <h2 class="section-header__title">Contact Us</h2>
                </div>
                <ul style="list-style:square;padding-left:30px;">
                    <li style="text-align:justify;">
                        If you are an art lover and would like to be notified when ArtBrowser app is launched. Please register your interest by submitting your email in the relevant section on the bottom of the page
                    </li>
                    <li>
                        If you would like to promote your website or exhibition by featuring them on the ArtBrowser website please contact us
                    </li>
                </ul>

                @using (Html.BeginForm("Contact", "Main"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                    @Html.ValidationMessageFor(model=>model.Name)<br/>

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autocorrect = "off", @autocapitalize = "off" })
                    @Html.ValidationMessageFor(model => model.Email)<br />

                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @pattern = "[0-9\\-]*" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)<br />

                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Message", @rows = "7" })
                    @Html.ValidationMessageFor(model => model.Message)<br />

                    <input type="submit" id="submit" class="btn right" value="Send">
                }
            </div>
        </div>
    </main>
</div>
@{
    if (ViewBag.Success ?? false)
    {
        <script>
            $('form').children('input').val('')
            $('form').children('textarea').val('')
            alert("Thanks for contacting us, we will get back to you very soon");
            $("#submit").val('Send');
        </script>
    }
}