@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ArtGallery.Data.DAL.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<div>
    <main class="wrapper main-content" role="main">

        <div class="grid">
            <div class="grid__item">

                <div class="section-header section-header--large">
                    <h2 class="section-header__title--left section-header__title h4">Events</h2>
                </div>
                <div class="grid-uniform grid-link__container">
                    <div class="slider recommendations">
                        @{
                            foreach (ArtGallery.Data.DAL.Event eventItem in Model)
                            {
                                string link = eventItem.IsExternal.HasValue && eventItem.IsExternal.Value ? eventItem.ExternalLink : "/Main/EventDetails/" + eventItem.EventId;

                                <div class="grid__item medium-down--one-half one-third text-center">
                                    <a href="@link" class="grid-link--focus" @(eventItem.IsExternal.HasValue && eventItem.IsExternal.Value ? "target='_blank'" : string.Empty)>
                                        <span class="grid-link__image grid-link__image--collection">
                                            <span class="grid-link__image-centered">
                                                <img src="@eventItem.ImagePath" alt="@eventItem.Title">
                                            </span>
                                        </span>
                                        <p class="grid-link__title">@eventItem.Title</p>
                                        <p class="grid-link__meta"><small></small></p>
                                    </a>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div style="float:right">
            @Html.PagedListPager(Model, pageNumber => Url.Action("Events", new { pageNumber }))
        </div>
    </main>
</div>

