@model ArtGallery.Data.DAL.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th, td {
        text-align: left;
        padding: 6px;
        border: 0px;
        font-size: 14px;
    }
</style>
<div>
    <main class="wrapper main-content" role="main">

        <div class="grid">


            <div class="grid__item">
                <div class="grid-uniform grid-link__container">
                    <div class="grid__item">
                        <div class="table-wrapper">

                            <table cellpadding="10" cellspacing="5">
                                <tbody>
                                    <tr>
                                        <td colspan="10">
                                            @String.Format("{0:dddd, MMMM d, yyyy}", Model.StartDate) | @Html.DisplayFor(model => model.Location)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h2>@Html.DisplayFor(model => model.Title)</h2>
                                        </td>
                                        <td class="text-right" align="right">@Html.ActionLink("Back to List", "Events")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="10">
                                            <img src='@Url.Content(Model.ImagePath)' style="width:100%;">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="10">
                                            @Html.Raw(Model.Statement)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="10">
                                            <strong>WHEN</strong><br />
                                            @String.Format("{0:dddd, MMMM d, yyyy}", Model.StartDate) - @String.Format("{0:dddd, MMMM d, yyyy}", Model.EndDate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="10">
                                            <strong>WHERE</strong><br />
                                            @Html.DisplayFor(model => model.Address)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>