@using ArtGallery.Common
@model ArtGallery.Models.HomeViewModel
<link href="~/Content/AG/slick.css" rel="stylesheet" type="text/css" media="all">
<link href="~/Content/AG/slick-theme.css" rel="stylesheet" type="text/css" media="all">
<script src="~/Scripts/AG/slick.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.partners, .recommendations').slick({
            dots: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            pauseOnHover: true,
            pauseOnFocus: true,
            pauseOnDotsHover: false,
            touchMove: true
        });

        $('.recommendations').slick({
            dots: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            pauseOnHover: true,
            pauseOnFocus: true,
            pauseOnDotsHover: false,
            touchMove: true
        });
    });
</script>
<div style="width:100%; background-image:url('/Images/ab.jpg');background-repeat:no-repeat;vertical-align:bottom;background-size:100% 100%;padding-top:332px;height:402px;">
    <div style="height:70px;background-color:rgba(0,0,0,0.3);padding:15px 15px;text-align:right;font-size:20px;color:#CCC"> A Global Market Place For Art Lovers</div>
</div>
<main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">
            <div class="section-header section-header--large">
                <h2 class="section-header__title--left section-header__title h4">Featured Partners</h2>
            </div>
            <div class="grid-uniform grid-link__container">
                <div class="slider partners">
                    @{
                        foreach (ArtGallery.Data.DAL.FeaturedPartner partner in Model.Partners)
                        {
                            string name = string.Empty;
                            string email = string.Empty;
                            string image = string.Empty;
                            string url = string.Empty;
                            string target = string.Empty;

                            if (partner.IsExternal.HasValue && partner.IsExternal.Value)
                            {
                                name = partner.Name;
                                email = partner.Email;
                                image = partner.Image;
                                url = partner.ExternalLink;
                                target = "_blank";
                            }
                            else
                            {
                                name = partner.AspNetUser.Name;
                                email = partner.AspNetUser.Email;
                                string role = partner.AspNetUser.AspNetRoles.First().Name;
                                url = Url.Action("ViewProfile", "Main", new { id = partner.AspNetUser.Id, role = role });
                                
                                UserType Role = ((UserType)Enum.Parse(typeof(UserType), role.ToString()));

                                switch (Role)
                                {
                                    case UserType.Artist:
                                        image = partner.AspNetUser.Artists.First().Profile_Pic;
                                        break;
                                    case UserType.Institution:
                                        image = partner.AspNetUser.Institutions.First().Profile_Pic;
                                        break;
                                }
                            }


                            <div class="grid__item medium-down--one-half one-third text-center">
                                <a href="@url" target="@target" class="grid-link--focus">
                                    <span class="grid-link__image grid-link__image--collection">
                                        <span class="grid-link__image-centered">
                                            <img src="@image" alt="@name" />
                                        </span>
                                    </span>
                                    <p class="grid-link__title">@name</p>
                                    <p class="grid-link__meta"><small></small></p>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <small class="view-more">
                <a href="#collections" title="Browse our Gallery3 collection">View all Partners</a>
            </small>
            <br />
            <div class="section-header section-header--large">
                <h2 class="section-header__title--left section-header__title h4">Featured Events and Offers</h2>
            </div>
            <div class="grid-uniform grid-link__container">
                <div class="slider recommendations">
                    @{
                        foreach (ArtGallery.Data.DAL.Event eventItem in Model.Events)
                        {
                            string link = eventItem.IsExternal.HasValue && eventItem.IsExternal.Value ? eventItem.ExternalLink : "/Main/EventDetails/" + eventItem.EventId;

                            <div class="grid__item medium-down--one-half one-third text-center">
                                <a href="@link" class="grid-link--focus" @(eventItem.IsExternal.HasValue && eventItem.IsExternal.Value ? "target='_blank'" : string.Empty)>
                                    <span class="grid-link__image grid-link__image--collection">
                                        <span class="grid-link__image-centered">
                                            <img src="@eventItem.ImagePath" alt="@eventItem.Title">
                                        </span>
                                    </span>
                                    <p class="grid-link__title">@eventItem.Title</p>
                                    <p class="grid-link__meta"><small></small></p>
                                </a>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="grid__item">
            <div class="section-header section-header--large">
                <h2 class="section-header__title--left section-header__title h4">How the App Will Work</h2>
            </div>
            <div class="grid-uniform grid-link__container">
                <div class="grid__item">
                    <p style="text-align:justify;text-justify:inter-word;">
                        ArtBrowser is a project that combines digital and creative enterprises. It is a platform for artists and galleries to sell and promote their work online. Our partners will be able to create a profile, telling buyers and art lovers about their work.
                    </p>

                </div>
                <div class="grid__item">
                    <center>
                        <img src="~/Images/iphoneImage.png" style="width:33%;" />
                        <img src="~/Images/iphoneImage1.png" style="width:33%;"/>
                        <img src="~/Images/iphoneImage2.png" style="width:33%;"/>
                    </center>
                </div>
                <div class="grid__item">
                    <p style="text-align:justify;text-justify:inter-word;">
                        One image will be shown at a time, with a key focus on aesthetics, rather than statement or prior success of the artist. It allows art lovers to experience a new way of buying and finding art, which is free from criticism of taste or style. ArtBrowser will change the way we look and sell art.
                    </p>
                    <p style="text-align:justify;text-justify:inter-word;">
                        By using a purely visual approach, art lovers will have the opportunity to develop their own taste. We believe that by bringing the gallery to your fingertips we will open the world of art to a wider audience
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
