@model ArtGallery.Models.ArtsViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutWithLeftNav.cshtml";
}

<style>
    th, td {
        text-align: left;
        padding: 6px;
        border: 1px solid #f0f0f0;
        font-size: 14px;
    }

    .Art_Image {
        height: 100px;
        width: 100px;
        padding: 0px;
    }

    .Art_Image_Item {
        height: 100px;
        width: 100px;
        padding: 5px;
    }
</style>

@{
    string Image_Location = System.Configuration.ConfigurationManager.AppSettings["Images_Location"];
}

<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">Delete Art</h2>
        <div class="section-header__link--right medium-down--hide">
            @Html.ActionLink("View", "Details", new { id = Model.Art_ID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="grid-uniform grid-link__container">
        <div class="grid__item">
            <h3>Are you sure you want to delete this?</h3>
            <div class="table-wrapper">
                <table>
                    <tbody>
                        <tr>
                            <td style="width:25%">
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Category_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Category.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Cover_Pic_Path)
                            </td>
                            <td>
                                <img src='@Url.Content(Image_Location + Model.Cover_Pic_Path)' style="height:100px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Art_Images)
                            </td>
                            <td>
                                @{
                                    foreach (var Art_Image_Item in Model.Art_Images)
                                    {
                                        <div class="Art_Image grid__item medium-down--one-half one-fifth text-center">
                                            <span class="Art_Image grid-link__image grid-link__image--collection">
                                                <span class="grid-link__image-centered">
                                                    <img class="Art_Image_Item" src="@Url.Content(Image_Location + Art_Image_Item)" alt="Sample">
                                                </span>
                                            </span>
                                            <p class="grid-link__meta"><small></small></p>
                                        </div>
                                    }
                                }
                            </td>
                        </tr>
                        @*<tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Subject)
                            </td>
                        </tr>*@
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Price)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Location_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Location.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Size)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Size)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medium)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medium)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Statement)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Statement)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Modified)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Modified)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Created)
                            </td>
                        </tr>

                    </tbody>
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>





