@model ArtGallery.Models.ArtsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWithLeftNav.cshtml";
}
<style>
    th, td {
        text-align: left;
        padding: 6px;
        border: 1px solid #f0f0f0;
        font-size: 14px;
    }
</style>
<link href="~/Content/AG/ModelPopup.css" rel="stylesheet" type="text/css" media="all">
<link href="~/Content/AG/pgwslideshow.css" rel="stylesheet" type="text/css" media="all">
<script src="~/Scripts/AG/pgwslideshow.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if(@Model.Art_Images.Count()>0)
            $('.pgwSlideshow').pgwSlideshow();
    });
</script>

<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">Art Details</h2>
        <div class="section-header__link--right medium-down--hide">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Art_ID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="grid-uniform grid-link__container">
        <div class="grid__item">
            <div class="table-wrapper">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Category_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Category.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Cover_Pic_Path)
                            </td>
                            <td>
                                <img src='@Url.Content(Model.Cover_Pic_Path)' style="height:100px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Subject)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Price)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Location_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Location.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Size)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Size)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Medium)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Medium)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Statement)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Statement)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Modified)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Modified)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Created)
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">x</a>
                        <ul class="pgwSlideshow">
                            @{
                                foreach (var Art_Image_Item in Model.Art_Images)
                                {
                                    <li>
                                        <img src="@Url.Content(Art_Image_Item)" />
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div>
                    @Html.DisplayNameFor(model => model.Art_Images)
                </div>
                <div>
                    @{
                        if (Model.Art_Images.Count == 0)
                        {
                            <div class="text-center">No items to display</div>
                        }
                        else
                        {
                            foreach (var Art_Image_Item in Model.Art_Images)
                            {
                                <div class="grid__item medium-down--one-half one-third text-center">
                                    <a href="#openModal" class="grid-link--focus">
                                        <span class="grid-link__image grid-link__image--collection">
                                            <span class="grid-link__image-centered">
                                                <img src="@Url.Content(Art_Image_Item)" alt="Sample">
                                            </span>
                                        </span>
                                        <p class="grid-link__meta"><small></small></p>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>