@model ArtGallery.Data.DAL.FeaturedPartner

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutWithLeftNav.cshtml";
}
<script>
    $(document).ready(function () {
        toggleForm();

        $("#LinkType").on("change", function () {
            toggleForm();
        });

        $("#EventForm").on("submit", function () {
            var linkType = $("#LinkType").val();

            if (linkType == 'false') {
                $("Name").val("");
                $("Image").val("");
                $("ExternalLink").val("");
            } else if (linkType == 'true') {
                $("Email").val("");
            }
        });
    });

    function toggleForm() {
        var linkType = $("#LinkType").val();

        if (linkType == 'false') {
            $("#InternalForm").attr("class", "show");
            $("#ExternalForm").attr("class", "hide");
        } else if (linkType == 'true') {
            $("#InternalForm").attr("class", "hide");
            $("#ExternalForm").attr("class", "show");
        }
    }
</script>

<style>
    .form-control {
        width: 100% !important;
    }

    TextArea {
        width: 100% !important;
    }
</style>

<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">Add Featured Partner Details</h2>
        <div class="section-header__link--right medium-down--hide">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="grid-uniform grid-link__container">
        <div class="grid__item">

            <div class="form-horizontal">

                @using (Html.BeginForm("Create", "FeaturedPartners", FormMethod.Post, new { enctype = "multipart/form-data", id = "EventForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsExternal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.IsExternal, new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Select", Value = "", Selected=true},
                                new SelectListItem { Text = "Internal", Value = "false"},
                                new SelectListItem { Text = "External", Value = "true"}
                            }, new { id = "LinkType" })

                            @Html.ValidationMessageFor(model => model.IsExternal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div id="InternalForm" class="hide">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { id = "Email" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="ExternalForm" class="hide">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "form-control", id = "Image" })
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ExternalLink, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ExternalLink, new { @class = "form-control", id = "ExternalLink" })
                                @Html.ValidationMessageFor(model => model.ExternalLink, "", new { @class = "text-danger", id = "ExternalLink" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayInHomePage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.DisplayInHomePage)
                                @Html.ValidationMessageFor(model => model.DisplayInHomePage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
