@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ArtGallery.Data.DAL.FeaturedPartner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithLeftNav.cshtml";
}

<style>
    th, td {
        text-align: left;
        padding: 6px;
        border: 1px solid #f0f0f0;
        font-size: 14px;
    }

    .pagination li {
        display: inline;
        padding: 5px;
    }
</style>
<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">Featured Patners</h2>
        <div class="section-header__link--right medium-down--hide">
            @Html.ActionLink("Create", "Create")
        </div>
    </div>
    <div class="grid-uniform grid-link__container">
        <div class="grid__item">
            <div class="table-wrapper">
                <table class="table">
                    <tr>
                        <th width="8%">
                            @Html.DisplayName("Sr.No")
                        </th>
                        <th>
                            Title
                        </th>
                        <th width="30%" align="center">
                            Email ID
                        </th>
                        <th width="18%">
                            @Html.DisplayName("Action")
                        </th>

                    </tr>

                    @{
                        if (Model.Count > 0)
                        {
                            int Serial_Number = ((Model.PageNumber * Model.PageSize) - Model.PageSize) + 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(Serial_Number++)
                                    </td>

                                    <td>
                                        @{
                                            if (item.IsExternal.HasValue && item.IsExternal.Value)
                                            {
                                                @Html.DisplayFor(modelItem => item.Name)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.AspNetUser.Name)
                                            }
                                        }
                                        
                                    </td>
                                    <td align="center" width="30%">
                                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.FeaturedPartnerId }) &nbsp;
                                        @Html.ActionLink("Edit", "Edit", new { id = item.FeaturedPartnerId }) &nbsp;
                                        @Html.ActionLink("Delete", "Delete", new { id = item.FeaturedPartnerId }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="4" align="center">No items to display</td></tr>
                        }
                    }

                </table>
                <div style="float:right">
                    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))
                </div>
            </div>
        </div>
    </div>
</div>