@model ArtGallery.Models.RegisterViewModel
@using ArtGallery.Common
@{
    ViewBag.Title = "Join Us";
}

<script type="text/javascript">
    function ValidateAgreement()
    {
        var id = "cbUserAgreement";
        if (document.getElementById(id).checked) {
            return true;
        } else {
            alert('Please indicate that you have read and agree to the Terms and Conditions');
            return false;
        }
    }
</script>

<main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">
            <div class="grid-uniform grid-link__container">
                <!--<div class="grid__item large--one-fifth medium-down--hide">

                </div>-->
                <div class="grid__item large--one-full">
                    <div class="section-header section-header--large">
                        <h2 class="section-header__title--left section-header__title h4">Join Us</h2>
                    </div>
                    <ul style="list-style:square;padding-left:30px;">
                        <li style="text-align:justify;">
                            If you are an Artist or Art Institution/Gallery and wish to join ArtBrowser please complete the form below. Once completed you will receive an automatic notification. You can create and update your profile on ArtBrowser by going to the "Log In" section
                        </li>
                        <li>
                            It is free to join ArtBrowser. Please note that it may take up to 48 hours for your profile to go live on our website. All profiles will be reviewed and approved by the ArtBrowser team.
                        </li>

                        <li style="text-align:justify;">
                            If you are an art lover and would like to be notified when ArtBrowser app is launched. Please register your interest by submitting your email in the relevant section on the bottom of the page
                        </li>
                        <li>
                            If you would like to promote your website or exhibition by featuring them on the ArtBrowser website please contact us
                        </li>
                    </ul>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "small--hide", role = "form", @onsubmit= "ValidateAgreement()" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div>
                            @Html.LabelFor(m => m.Name)
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name:" })
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(m => m.Email)
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email:" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DOB, new { @class = "form-control", style = "width:100%" })
                            </div>
                        </div>*@

                        <div>
                            @Html.LabelFor(m => m.Password)
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password:" })
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password:" })
                            </div>
                        </div>

                        <div>
                            @Html.LabelFor(m => m.Role)
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetValues(typeof(PartnerType))))
                            </div>
                        </div>

                        <div>
                            <p><input type="checkbox" id="cbUserAgreement" name="terms"> I accept the <u><a target="_blank" href="~/Main/TermsConditions" style="color:#000000;">Terms and Conditions</a></u></p>
                            <input type="submit" class="btn" name="join_us" id="join_us" value="Join Us">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
