@model ArtGallery.Data.DAL.Announcement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWithLeftNav.cshtml";
}

<style>
    th, td {
        text-align: left;
        padding: 6px;
        border: 1px solid #f0f0f0;
        font-size: 14px;
    }
</style>


<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">Announcemnent Details</h2>
        <div class="section-header__link--right medium-down--hide">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Announcement_ID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="grid-uniform grid-link__container">
        <div class="grid__item">
            <div class="table-wrapper">

                <table>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Status)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Published)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Published)
                            </td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td>@Model.Created</td>
                        </tr>
                        <tr>
                            <td>Last Modified</td>
                            <td>@Model.Modified</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
