@model ArtGallery.Data.DAL.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWithLeftNav.cshtml";
}


<style>
    th, td {
        text-align: left;
        padding: 6px;
        border: 1px solid #f0f0f0;
        font-size: 14px;
    }
</style>


<div class="grid__item large--four-fifths">
    <div class="section-header section-header--large">
        <h2 class="section-header__title--left section-header__title h4">Event Details</h2>
        <div class="section-header__link--right medium-down--hide">
            @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="grid-uniform grid-link__container">
        <div class="grid__item">
            <div class="table-wrapper">

                <table>
                    <tbody>
                        <tr>
                            <td style="width:20%">
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ImagePath)</td>
                            <td>
                                <img src='@Url.Content(Model.ImagePath)' style="height:100px;">
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.IsExternal)</td>
                            <td>
                                @(Model.IsExternal.HasValue && Model.IsExternal.Value ? "External" : "Internal")
                            </td>
                        </tr>
                        @{
                            if (!(Model.IsExternal.HasValue && Model.IsExternal.Value))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Location)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Date
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)
                                    </td>
                                </tr>

                                <tr>
                                    <td valign="top">
                                        @Html.DisplayNameFor(model => model.Statement)
                                    </td>
                                    <td>
                                        @Html.Raw(Model.Statement)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Address)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td valign="top">
                                        @Html.DisplayNameFor(model => model.ExternalLink)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ExternalLink)
                                    </td>
                                </tr>
                            }
                        }
                        
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DisplayInHomePage)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => model.DisplayInHomePage)
                            </td>
                        </tr>

                        <tr>
                            <td>Created</td>
                            <td>@Model.Created</td>
                        </tr>
                        <tr>
                            <td>Last Modified</td>
                            <td>@Model.Modified</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

